.container {
  position: relative;
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  color: var(--textColor);
}

.select {
  margin-bottom: 50px;
  padding: 10px 20px;
  margin-left: 50px;
  width: max-content;
}
.select option {
  padding: 5px 10px;
}
.editor {
  display: flex;
  gap: 20px;
  /* height: 700px;
  position: relative; */
  max-height: 500px;
  height: auto;
}

.button,
.addButton {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--textColor);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.addButton {
  border-color: #1a8917;
}

.add {
  display: flex;
  gap: 20px;
  background-color: var(--bg);
  position: absolute;
  z-index: 999;
  max-width: 200px;
  left: 50px;
  top: 16rem;
  padding: 1em;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.input {
  padding: 50px;
  font-size: 64px;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--textColor);
}

.input::placeholder {
  color: #b3b3b1;
}

.textArea {
  width: 90%;
}

.publish {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px 20px;
  border: none;
  background-color: #1a8917;
  color: white;
  cursor: pointer;
  border-radius: 20px;
}

.progressBarWrapper {
  max-width: 540px;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.progressBar {
  width: 80%;
  background-color: #e0e0e0;
  padding: 3px;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}
.progressBarFill {
  display: block;
  height: 22px;
  background-color: #1a8917;
  border-radius: 3px;
  transition: width 500ms ease-in-out;
}

/* RactQuill */

.textArea .ql-toolbar.ql-snow {
  padding: 1em !important;
}
