.categoryContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.categoryHeading {
  color: var(--textColor);
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
}
.categoryBtnAdd {
  background-color: #007bff;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 400;
}
.categoryBtnAdd:hover {
  background-color: #0069d9;
}
.categoryItem {
  border: 1px solid var(--softTextColor);
  padding: 16px;
  border-radius: 8px;
  width: calc(25% - 16px);
  color: var(--textColor);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.categoryImageWrapper {
  margin-bottom: 16px;
}

.categoryContent {
  flex-grow: 1;
}
